{
  system = {
    hostname = "@HOSTNAME@";
    timezone = "@TIMEZONE@";
    locale = "@LOCALE@";
    networkManager = true;
  };
  user = {
    name = "@USERNAME@";
    fullName = "@FULLNAME@";
    hashedPassword = null;
    extraGroups = [ ];
  };
  enabledModules = [ "core" "denial" "rime" ];
  settings = {
    core = { };
    denial = {
      displayManager = "sddm";
      autologin = false;
    };
    rime = {
      overwrite = false;
    };
  };
}
